{{#extends 'base'}}

{{#block 'content'}}
<h1>Delete Poster</h1>

<form method="POST">
    <div class="alert alert-danger">
        Are you sure you want to delete {{poster.name}}?
    </div>
    <a href="/posters" class="btn btn-success">Cancel</a>
    <input type="submit" class="btn btn-danger my-3" value="Confirm"/>
</form>

{{/block}}

{{/extends}}