{{#extends 'base'}}
    {{#block 'content'}}
    <h1>Login with your account here!</h1>
        <form method="POST">
            {{{form}}}
            <input type="submit" class="btn btn-primary"/>
        </form>
    {{/block}}
{{/extends}}